*{
	margin: 0;
	padding: 0;
}
body{
	margin:  0;
	background-color: #f8f8f8; 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#cabecalho{
	height: 233px;
	background: #294C71 url(../imagens/fundo.png) repeat-x left top;
	margin-bottom: 20px;
	 
}
#cabecalho-interno{
	margin: 0 auto;
	width: 60%;
	height: 180px;
	background: #294C71 url(../imagens/detalhe-topo.png) no-repeat right top;
}
#menu-topo{
	padding: 10px;
}

#menu-topo a{
	display: inline;
	text-decoration: none;
	font-size: 0.8em;
	color: #FFF;
	background:  #982D2D url(../imagens/divisor.png) no-repeat left center; 
	padding: 0.5em 1.5em;/*#A00505*/
}
#menu-topo a.home{
	background-image: none;
	background-color: #CA2A2A; 
}
#menu-topo a:hover{
	background-color: #CA2A2A; 
}
img.logo{
	width: 152px;
	height: 66px;
	padding: 20px;
}
#conteudo{
	width: 70%;
	margin: 0 auto;
}
#conteudo h3{
	padding-left: 10px;
	line-height: 2.2em;
	color: #FFF;
	background-color: #102843;

}
#coluna-nav{ float: left;
	width: 20%;

}
.nav a{
	width: 100%;
	padding: 5px;
	line-height: 2em;
	text-decoration: none;
	color: black;
}
.nav a:hover{
	padding-left: 20px;
	background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
	color: #a1a1a1;
}
	
.nav{
	padding: 10px;
	background: grey url(../imagens/fundo-caixa.png);
}
#conteudo ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#conteudo li{

	height: 2em;
	background: white;
	border-bottom: 1px solid #f8f8f8;
}
input.submit{
	color: #FFF;
	background-color: #A00505;
	padding: 10px;
}
input.text{
	width: 80%;
	padding: 5px;
	border: 1px solid #8EA7C5;
}
.coluna-conteudo{
	float: left;
	margin: 0 20px;
	width: 35%;
}
.publicacao{
	padding: 10px;
	background: grey url(../imagens/fundo-caixa.png);
}
.publicacao p{
	background: white;
}
.clear{
	clear: both;
}
.publicacao.ultima-entrevista img{
	width: 100%;
}
.publicacao.destaque{
	margin-bottom: 20px;
}
.publicacao.ultima-entrevista h5{
	width: 80%;
	margin: 0px;
	padding: 5px;
	background-color: #A00505;

}
.publicacao.destaque img{
	width: 100%;
}
.publicacao.destaque h5{
	width: 80%;
	margin: 0px;
	padding: 5px;
	background-color: #A00505;
	color: #fff;
}
.mundo img{
	width: 60px;
	height: 100px;
}

#container-rodape{
	background: #294c71;
	padding: 20px;
}
#rodape{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	color: #fff;
}
#container-rodape{
	margin-top: 20px;
}

#publicacao-mundo li{
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 62px;
	
}
#publicacao-mundo li a img{
	float: left;
	padding: 5px;

}
#publicacao-mundo li a{
	text-decoration: none;
}
#publicacao-mundo li:hover a p{
	background: #eee;
}
#publicacao-mundo li:hover{
	background: #eee;
	cursor: pointer;
}
#publicacao-mundo li a h2{
	padding: 0;
	color: #3e7ab9;
	font-size: 0.8em;
}
#publicacao-mundo li a p{
	font-size: 0.7em;
	color: black;
}
/*Formatando lista de notícias*/
#lista-noticias li {
	padding: 2px;
	border-bottom: 1px solid #ccc; 
	height: 62px;
	min-width: 300px;
}

#lista-noticias li a img {
	float: left;
	margin: 5px;
}

#lista-noticias li a {
	text-decoration: none;
}

#lista-noticias li a h3 {
	font-size: 0.8em;
	padding: 0;
	color: #3e7ab9;
}

#lista-noticias li a p {
	font-size: 0.7em;
	color: #000;
}

#lista-noticias li:hover {
	background: #eee;
	cursor: pointer;
}

